/* Write your CSS here */
.bg {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  padding: 20px;
}
.app-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.name-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  padding: 20px;
  width: 100%;
  max-width: 90%;
  text-align: center;
  border-radius: 17px;
  background-size: cover;
}
@media (min-width: 552px) {
  .name-bg {
    text-align: start;
  }
}
.name {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 27px;
}
.greet {
  font-family: 'Roboto';
  font-weight: 400;
  min-width: 100%;
  max-width: 80%;
}

.app-name {
  font-weight: 500;
  color: #0b69ff;
}
@media (min-width: 552px) {
  .app-name {
    margin-left: 4px;
  }
}
.money-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px;
  max-width: 90%;
}
@media (min-width: 552px) {
  .money-details-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-transaction-c {
  width: 100%;
  display: flex;
  max-width: 90%;
  flex-direction: column;
}
@media (min-width: 552px) {
  .form-transaction-c {
    flex-direction: row;
  }
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid #7e858e;
  border-radius: 17px;
  width: 100%;
  max-width: 100%;
  padding: 17px;
}
@media (min-width: 552px) {
  form {
    width: 50%;
    max-width: 50%;
  }
}
.add-transaction-heading {
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 700;
  color: #1e293b;
}

label {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 700;
}

input,
select {
  height: 44px;
  width: 100%;
  max-width: 70%;
  outline: none;
  padding: 5px;
  border: 1px solid #7e858e;
  background-color: transparent;
  margin-bottom: 12px;
  border-radius: 7px;
  font-size: 17px;
  font-weight: 540;
}

.add-btn {
  height: 34px;
  width: 90px;
  border-radius: 5px;
  background-color: #0b69ff;
  font-family: 'Roboto';
  color: white;
  border: 0;
  cursor: pointer;
}

.table-c {
  padding: 15px;
  padding-right: 0;
  margin-top: 20px;
  border: 1px solid #707175;
  border-radius: 17px;
  width: 100%;
}
@media (min-width: 552px) {
  .table-c {
    width: 50%;
    max-width: 50%;
    margin-left: 20px;
  }
}

.table-header {
  display: flex;
  list-style-type: none;
  border: 1px solid #d7dfe9;
  border-radius: 0px;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.table-header-cell {
  margin-left: 32px;
  font-family: 'Roboto';
  font-size: 17px;
  font-weight: 500;
  width: 100%;
  flex-grow: 1;
}
