/* Write your CSS here */
.table-row {
  display: flex;
  border: 1px solid #d7dfe9;
  border-top: none;
  flex-grow: 1;
  border-radius: 0px;
  align-items: center;
}
.table-cell {
  margin-left: 32px;
  font-weight: 400;
  font-size: 17px;
  font-family: 'Roboto';
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.del-btn {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: 0;
}
.del-icon {
  height: 40px;
  width: 40px;
}
